div#somos{
    margin-top: 0.4px;
    background-image: url("../_fotos/2.jpg");
    background-size: cover;
    color: white;
    width: 1361px;
    position: relative;
    left: -132px;
    height: 360px;

}
.jumbotron{
    background-color: black;
}
h1{
text-align: center;
font-family: Franklin Gothic Heavy;
}
.lead{
text-align: center;

}
h4{

    text-align: center;
}
hr#ponto{

    width: 200px;
    background-color: lightskyblue;
    height: 2px;
}
hr{
    background-color: lightskyblue;
}
.carousel-inner img{
max-width:1800px;
max-height:500px;
width: auto;
height: auto;
}
